<%= form_with(model: task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
        <%= form.label :タスク名 %> <br>
        <%= form.text_field :title %> <br>

        <%= form.label :内容 %> <br>
        <%= form.text_area :content %> <br>

        <%= form.label :終了期限 %><br>
        <%= form.date_select :expiration_date %><br>

        <%= form.label :ステータス %><br>
        <%= form.select :status, [["未着手","未着手"], ["着手中","着手中"], ["完了","完了"]], include_blank: "選択" %><br>

        <%= form.label :優先順位 %><br>
        <%= form.select :priority, [["高","高"], ["中","中"], ["低","低"]], include_blank: "選択" %><br><br>
        
        <%#= form.collection_check_boxes(:label_ids, Label.all, :id, :label_name) %>

        
        <%= form.submit "登録する"%><br>
<% end %>