<%= form_with(model: @task, local: true) do |form| %>
    <div class="conteiner">
      <div class="field">
        <%= form.label :タスク名名 %>
        <%= form.text_field :title %>
      </div>
      <div class="field">
        <%= form.label :内容 %>
        <%= form.text_area :content %>
      </div>
      <div class="actions">
      <%= form.submit "submit"%>
    </div>
  </div>
<% end %>