<h1>タスク編集</h1>
<%#= render 'form', task: @task %>
<%#= link_to '確認', @task %> 
<%= form_for(@task) do |f| %>
  <div><%= f.label :タスク名 %></div>
  <div><%= f.text_field :content %></div>
  <div><%= f.submit %></div>
<% end %>
<%= link_to '戻る', tasks_path %>