<p id="notice"><%= notice %></p>

<h1>タスク一覧画面</h1>
<%= form_with(model: @task, method: :get, local: true, ) do |form| %>
<% end %>

<table>
  <tr>
    <th>タスク名</th>
    <th>内容</th>
    <th>終了期限</th>
    <th>ステータス</th>
    <th>優先順位</th>
  </tr>
<% @tasks.each do |task| %>
    <tr>
      <td class="title"><%= task.title %></td>
      <td class="content"><%= task.content %></td>
      <td class="expiration_date"><%= l(task.expiration_date, format: :short) %></td>
      <td class="status"><%= task.status %></td>
      <td class="priority"><%= task.priority %></td>
      <td><%= link_to '詳細', task_path(task.id), class:"btn btn-primary btn-xs" %></td>
      <td><%= link_to "編集", edit_task_path(task.id), class:"btn btn-success btn-xs" %></td>
      <td><%= link_to '削除', task_path(task.id), method: :delete ,data: { confirm: '本当に削除しますか？' }, class:"btn btn-danger btn-xs" %></td>
    </tr>
  <% end %>
</table>
<h4><%= link_to "追加",new_task_path %></h4>
  <p><%= paginate @tasks %></p> 
