<p id="notice"><%= notice %></p>

<h1>タスク一覧画面</h1>
<%= form_with(model: @task, method: :get, local: true, ) do |form| %>
  <%= form.label :'タスク名' %>
  <%= form.text_field :search_title %>
  <%= form.label :'ステータス' %>
  <%= form.select :search_status, [["未着手","未着手"], ["着手中","着手中"], ["完了","完了"]], include_blank: "選択" %>
  <%= form.submit '検索' , name: 'search' %>
<% end %>

<%= link_to '終了期限', tasks_path(sort_expired: "true") %><br>
<%= link_to '優先順位', tasks_path(sort_priority: "true") %><br><br>

<table border="1">
  <tr>
    <th>ユーザー名</th>
    <th>タスク名</th>
    <th>内容</th>
    <th>終了期限</th>
    <th>ステータス</th>
    <th>優先順位</th>
  </tr>

  <% @tasks.each do |task| %>
    <tr>
      <td class="name"><%= task.user.name %></td>
      <td class="title"><%= task.title %></td>
      <td class="content"><%= task.content %></td>
      <td class="expiration_date"><%= l(task.expiration_date, format: :short) %></td>
      <td class="status"><%= task.status %></td>
      <td class="priority"><%= task.priority %></td>
      <td><%= link_to '詳細', task_path(task.id), class:"btn btn-primary" %></td>
      <td><%= link_to "編集", edit_task_path(task.id), class:"btn btn-success" %></td>
      <td><%= link_to '削除', task_path(task.id), method: :delete ,data: { confirm: '削除しますか？' }, class:"btn btn-danger" %></td>
    </tr>
  <% end %>
</table>
<h4><%= link_to "新規投稿",new_task_path %></h4>
<%= link_to '管理者画面', admin_users_path, class:"btn btn-danger" %>
<%= paginate @tasks %></p> 