<h1><%= @user.name %>のページ</h1>
<p>
  <strong>ユーザー名：</strong>
  <%= @user.name %>
</p>
<p>
  <strong>メールアドレス：</strong>
  <%= @user.email %>
</p>
<%# <p>管理者権限：<%= @user.admin == true ? 'あり' : 'なし' %></p>
<%# <% if @user.id==@current_user.id %>
<%= link_to 'ユーザー編集', edit_user_path(@user) %>
<hr>

<button type="button" class="btn btn-default"><%= link_to '新規登録', new_task_path %></button><br>

