<!DOCTYPE html>
<html>
  <head>
    <title>MANYOU</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
  <div class="btn__container">
  <a href="#" class="btn">
    <i class="task"></i>
    <span>タスクあぷり</span>
  </a> 
      <div class="header-list">
        <ul>
        </ul>
  </div>
    <%= yield %>
    <div class="footer">
      <div class="footer-logo">フッター</div>
      <div class="footer-list">
        <ul>
        </ul>
      </div>
    </div>
  </body>
</html>
